body  {
    background-color: #1F2937;
    display: flex;  
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    color: #e5e7eb;
}

.headContent {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.headContent h1 {
    font-size: 50px;
}

#startBtn {
    display: flex;
    justify-content: center;
    min-height: 60vh;
    align-items: center;
}

#startBtn button {
    width: 150px;
    height: 100px;
    color: #1f2937;
    background-color: #e5e7eb;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px;
}

#hiddenGame {
    display: none;
}

.showGame {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameDisplay {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 50px;
}
div .gamePlay {
    display: flex;
    flex-direction: column;
}
.gamePlay img {
    width: 200px;
    height: 200px;
}

.userChoice {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 50px;
}

div .userimg {
    display: flex;
    flex-direction: column;
}
.userimg img {
    width: 200px;
    height: 200px;
}

.scoreBrd {
    margin-top: auto;
}



